body {
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*-----Header------*/

.header {
  padding-top: 20px;
}
#firmLogo {
  width: 250px;
}

/*-----Table ------*/
.tableBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 242, 254);
  width: 100%;
  padding-bottom: 60px;
}

.tableBody h2 {
  padding: 40px 0 30px;
  margin: 0;
}

.tableWrapper {
  width: 90%;
  max-width: 1200px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

table {
  background-color: white;
  width: calc(100% + 2px);
  margin: -1px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid grey;
}

th {
  text-align: center;
  background-color: rgb(238, 238, 238);
  padding: 5px 20px 5px;
  margin: 0;
}

th#powerscoreHeader:hover,
th#center:hover,
a:hover {
  cursor: pointer;
}

.textContainerHeaderPowerscore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.textContainerHeaderGame {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.triangleDown {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  margin-left: 6px;
}

.triangleUp {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  margin-left: 6px;
}

th#center {
  text-align: left;
}

td#center {
  text-align: left;
  padding: 15px 0px 15px 20px;
}

.centerTableItem {
  display: flex;
  align-items: center;
}

.tableItem#powerscore {
  font-weight: bold;
  font-size: 25px;
}

.gameName {
  font-weight: bold;
}

.gameArtist {
  color: grey;
}

#gameIcon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

#arrowLink {
  width: 25px;
  height: 25px;
}

/*------Footer------*/

.footer {
  color: gray;
}

/*-----Mobile size-----*/

@media (max-width: 600px) {
  .tableItemHeader {
    font-size: 14px;
  }
  .tableItem#powerscore {
    font-size: 20px;
  }

  th {
    padding: 5px 10px 5px;
  }

  td#center {
    font-size: 14px;
    text-align: left;
    padding: 15px 0px 15px 10px;
  }

  #gameIcon {
    margin-right: 5px;
  }
}
/* 
.tableBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 242, 254);
  width: 100%;
  padding-bottom: 60px;
}

.tableBody h2 {
  padding: 40px 0 30px;
  margin: 0;
}

.tableWrapper {
  width: 80%;
  max-width: 1000px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

table {
  background-color: white;
  width: calc(100% + 2px);
  margin: -1px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid grey;
}

th {
  text-align: center;
  background-color: rgb(238, 238, 238);
  padding: 5px 20px 5px;
  margin: 0;
}

th#powerscoreHeader:hover,
th#center:hover,
a:hover {
  cursor: pointer;
}

.textContainerHeaderPowerscore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.textContainerHeaderGame {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.triangleDown {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  margin-left: 6px;
}

.triangleUp {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  margin-left: 6px;
}

th#center {
  text-align: left;
}

td#center {
  text-align: left;
  padding: 15px 0px 15px 20px;
}

.centerTableItem {
  display: flex;
  align-items: center;
}

.tableItem#powerscore {
  font-weight: bold;
  font-size: 25px;
}

.gameName {
  font-weight: bold;
}

.gameArtist {
  color: grey;
}

#gameIcon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

#arrowLink {
  width: 20px;
  height: 20px;
} */
